# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython build artifacts
*.c
*.cpp
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
env/
ENV/
.venv/
.pyenv/
pip-wheel-metadata/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# FastAPI-related
instance/
*.db
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# pyre, mypy
.pyre/
.mypy_cache/
.dmypy.json

# Pylint, Ruff, etc
.pylint.d/
ruff_cache/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac & Linux
.DS_Store
*.swp
*~

# dotenv
.env
.env.*

# Logs
*.log

# Docker
*.pid
docker-compose.override.yml
